.common {
  display: flex;
  align-items: center;
  flex-direction: column;
  .site {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
    padding: 70px;
    border-radius: 15px;
    background-color: whitesmoke;
    border: 5px solid#3674B5;
    .image {
      width: 300px;
      border-radius:10px;
    }
    .login {
      background-color: #3674B5;
      color: white;
      margin: 15px;
    }

    .register {
      color:#3674B5;
      border: 1px solid #3674B5;
    }

    button {
      width: 200px;
      border: none;
      border-radius: 10px;
      height: 30px;
      padding: 15px;
      text-align: center;
      cursor: pointer;
    }
  }
}
